{% if country_list.count > 0 %}
    <h4>Table Wine Country</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">County Name</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for country in country_list %}
            <tr>
                <td>{{country.name}}</td>
                <td>
                    <a href="{% url 'wine:country-update' country.id %}" class="badge badge-light">edit</a>
                </td>
                <td>
                    <a href="{% url 'wine:country-delete' country.id %}" class="badge badge-warning">delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%else%}
    <h1>No product entries found on the database.</h1>
{% endif %}
    <a href="{% url 'wine:country-entry' %}" class="badge badge-primary">Add County</a>