<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Appelation</title>
</head>

<body>
    <div style="width:100%; overflow:hidden;">
        <div style="width:250px; float:left">
            <h4>Wine Appelations :</h4>
            <select multiple>
                {% for appelation in appelations %}
                <option value={{appelation.id}}>{{appelation.name}}</option>
                {% endfor%}
            </select>
        </div>
        <div style="margin-left: 0px;">
            <h4>Wine Region :</h4>
            <select multiple>
                {% for region in regions %}
                <option value={{region.id}}>{{region.name}}</option>
                {% endfor%}
            </select>
        </div>

    </div>
</body>

</html>