
    {% if country_list %}
        <table>
            <tr>
                <th>County Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        <tbody>
        {% for country in country_list %}
            <tr>
                <td>{{country.name}}</td>
                <td><a href="{% url 'wine:country-update' country.id %}">edit</a></td>
                <td><a href="{% url 'wine:country-delete' country.id %}">delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        <h1>No product entries found on the database.</h1>
     
    {% endif %}
    <a href="{% url 'wine:country-entry'  %}">Add County</a>